.chats {
    width: 92%;
    height: 660px;
    margin: 70px 22px 0 70px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
    border-radius: 4px;
  }
  
  .chats__row {
    margin-top: 6px;
    display: flex;
  }
  
  .chats__list {
    width: 300px;
    border-right: 1px solid #EDF0F4;
  }
  
  .chats__list__dialogs {
    background: #fff;
    &.favorites {
      background: #F7F9FC;
    }
  }
  
  .chats__list__dialog {
    position: relative;
    width: 100%;
    height: 90px;
    &:hover {
      box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15);
    }
  }
  
  .chats__list__dialog--date {
    width: 100%;
    text-align: right;
    font-size: 12px;
    line-height: 25px;
    color: #9BA0AD;
    margin-left: -10px;
  }
  
  .chats__list__dialog__details {
    margin-left: 14px;
  }
  
  .chats__list__dialog--avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
  }
  
  .chats__list__dialog__details--name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.571429px;
    display: inline-flex;
    color: #01134E;
  }
  
  .user_status {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #0AD69C;
  }
  
  .chats__list__dialog__details--message {
    font-size: 14px;
    line-height: 18px;
    color: #252F48;
    opacity: 0.43;
  }
  
  .chat {
    width: 100%;
    position: relative;
  }
  
  .chat__search-form {
    border-bottom: 1px solid #F5F6F9;
  }
  
  .chat__search-form__input {
    margin-left: 46px;
    height: 47px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #252F48;
    opacity: 0.2;
    width: 100%;
  }
  
  .chat__send-form__file {
    color: transparent;
    width: 21px;
    height: 21px;
    margin-right: 15px;
    position: relative;
  }
  .chat__send-form {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(153, 163, 174, 0.14654);
  }
  
  .chat__send-form__input {
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #252F48;
    opacity: 0.2;
    width: 90%;
    height: 61px;
    padding-left: 31px;
  }
  
  .chat__send-form__send-button {
    display: inline-block;
    box-shadow: 0px 0px 15px rgba(153, 163, 174, 0.25926);
    border-radius: 7px;
    background: #fff;
    width: 36px;
    height: 36px;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 45px;
    > img {
      width: 20px;
    }
  }
  
  .chat__send-form__emoji {
    text-decoration: none;
    position: relative;
    margin: 25px;
    > img {
      width: 18px;
    }
  }
  
  .chat__send-form__tools {
    position: absolute;
    right: 0;
    display: inline-block;
    padding-right: 20px;
    height: 70%;
    margin: 14px 20px 0 0;
    background: #fff;
  }
  
  .chat__messages__date {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #CACED9;
  }
  
  .chat__messages {
    height: 550px;
    overflow-y: scroll;
  }
  
  .chat-message {
    .chats__row {
      margin-top: 0;
      width: 300px;
      background: #F7F9FC;
      border-radius: 5px;
      margin-left: 45px;
    }
    display: table;
    position: relative;
    margin-left: 20px;
  }
  
  .chat-message__avatar > img {
    position: absolute;
    bottom: 0;
    height: 36px;
    width: 36px;
  }
  
  .chat-message__text {
    margin: 13px 16px 13px 8px;
  }
  
  .chat-message__time {
    position: absolute;
    font-size: 12px;
    color: #9BA0AD;
    bottom: 5px;
    right: 5px;
  }
  
  .message-box {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .right {
    margin-left: auto;
    margin-right: 20px;
  }
  
  .chat__messages {
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background: rgb(240, 240, 240);
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: #cac9c9;
      border-radius: 10px;
    }
  }