doctype html
html
  head
    title Step 2
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='../../css/pages/signin.css')
  body
    main.wrapper
      nav.navbar
        .logo-container
          img.logo-container__image(src='../../images/myfixerlogo.svg')
        .auth
          p.auth__text Back to
          a(href='signin1.html').auth__link Sign in
      .container
        form.login-form
          h1.login-form__title Enter your e-mail to reset your password
          input.login-form__input(type='text', placeholder='E-mail')
          button.login-form__submit(type='submit') Send