doctype html
html
  head
    title Step 1
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='../../css/pages/signin.css')
  body
    main.wrapper
      nav.navbar
        .logo-container
          img.logo-container__image(src='../../images/myfixerlogo.svg')
        .auth
          p.auth__text Do not have an account?
          a(href='../signup/signup1.html').auth__link Sign up
      .container
        form.login-form
          h1.login-form__title Reset your password
          input.login-form__input(type='password', placeholder='New password')
          input.login-form__input(type='password', placeholder='Confirm password')
          button.login-form__submit(type='submit') Reset