doctype html
html
  head
    title Password recovery 2
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='../../css/pages/signup.css')
  body
    main.wrapper
      nav.navbar
        .logo-container
          img.logo-container__image(src='../../images/myfixerlogo.svg')
        .auth
          p.auth__text Back to
          a(href='signin1.html').auth__link Sign in
      .container-circle
        img.container-circle(src='../../images/Group.svg')
      .container-circle__text
        p.container-circle__text--title You are almost ready to go!
        p.auth__text Please check your email reset your password