section.chats
  .chats__list
    .chats__list__dialogs.favorites
      .chats__list__dialog
        .chats__list__dialog--date
          | 9:32
        .chats__row
          .chats__list__dialog--avatar
            img(src='./images/miranda.svg')
          .chats__list__dialog__details
            .chats__list__dialog__details--name
              | Miranda Hops
              span.user_status
              .user__silent
                img(src='./images/silentmode.svg')
            .chats__list__dialog__details--message
              | Excepteur sint occaecatar&mldr;
      .chats__list__dialog
        .chats__list__dialog--date
          | 9:36
        .chats__row
          .chats__list__dialog--avatar
            img(src='./images/barry.svg')
          .chats__list__dialog__details
            .chats__list__dialog__details--name
              | Barry Callebaut
            .chats__list__dialog__details--message
              | Nemo enim ipsam volupta&mldr;
    .chats__list__dialogs
      .chats__list__dialog
        .chats__list__dialog--date
          | 9:37
        .chats__row
          .chats__list__dialog--avatar
            img(src='./images/stacey.svg')
          .chats__list__dialog__details
            .chats__list__dialog__details--name
              | Stacey Dosh
              span.user_status
            .chats__list__dialog__details--message
              | Ut enim ad minima veniam&mldr;
      .chats__list__dialog
        .chats__list__dialog--date
          | 9:38
        .chats__row
          .chats__list__dialog--avatar
            img(src='./images/johny.svg')
          .chats__list__dialog__details
            .chats__list__dialog__details--name
              | Michael Kors
            .chats__list__dialog__details--message
              | To take a trivial example&mldr;
      .chats__list__dialog
        .chats__list__dialog--date
          | 9:42
        .chats__row
          .chats__list__dialog--avatar
            img(src='./images/johny.svg')
          .chats__list__dialog__details
            .chats__list__dialog__details--name
              | Johny Cash
              span.user_status
            .chats__list__dialog__details--message
              | Great explorer of the truth&mldr;
      .chats__list__dialog
        .chats__list__dialog--date
          | 10:52
        .chats__row
          .chats__list__dialog--avatar
            img(src='./images/staceyjosh.svg')
          .chats__list__dialog__details
            .chats__list__dialog__details--name
              | Stacey Dosh
            .chats__list__dialog__details--message
              | Ut enim ad minima veniam&mldr;
  .chat
    .chat__search-form
      input.chat__search-form__input(type='text' placeholder='Search message...')
    .chat__messages
      time
        .chat__messages__date
          | Today, 20.06.2019
      .message-box
        .chat-message
          .chat-message__avatar
            img(src='./images/barry.svg')
          .chats__row
            .chat-message__text
              | On the other hand....
            time.chat-message__time
              | 01:14
      .message-box
        .chat-message
          .chat-message__avatar
            img(src='./images/barry.svg')
          .chats__row
            .chat-message__text
              | On the other hand, we denounce with....
            time.chat-message__time
              | 01:14
      .message-box
        .chat-message
          .chat-message__avatar
            img(src='./images/barry.svg')
          .chats__row
            .chat-message__text
              | On the other hand, we denounce with righteous indignation!
            time.chat-message__time
              | 01:14
      .message-box
        .chat-message.right
          .chats__row
            .chat-message__text
              | Which is the same as saying??????? On the other hand, we
              | denounce with righteous indignation!
            time.chat-message__time
              | 01:46
      .message-box
        .chat-message.right
          .chats__row
            .chat-message__text
              | Ut enim ad minima veniam&mldr;??? To take a trivial example&mldr;
            time.chat-message__time
              | 01:46
      .message-box
        .chat-message
          .chat-message__avatar
            img(src='./images/barry.svg')
          .chats__row
            .chat-message__text
              | But in certain circumstances and owing to the claims of
              | duty or the obligations of business it will frequently
              | occur that pleasures
            time.chat-message__time
              | 01:47
      .message-box
        .chat-message.right
          .chats__row
            .chat-message__text
              | To take a trivial example, which of us ever undertakes)
            time.chat-message__time
              | 01:48
    .chat__send-form
      input.chat__send-form__input(type='text' placeholder='Write a message...')
      .chat__send-form__tools
        a.chat__send-form__emoji(href='#')
          img(src='./images/smile.svg')
        a.chat__send-form__file(href='#')
          img(src='./images/sendfile.svg')
        a.chat__send-form__send-button(href='#')
          img(src='./images/send.svg')