section.navbar
  section.navbar-menu
    div.navbar-menu__item Home
    div.navbar-menu__item: img(src="./images/vector.svg")
    div.navbar-menu__item Network
  section.navbar-user
    span.navbar-user__avatar: img.image(src="./images/profile_image.svg")
    div.navbar-user__name Sarah Freeman
    span.navbar-user__avatar: img(src="./images/shape.svg")
   
