main.page
  section.infopage
    article.information
      a(href='personal.html') PERSONAL INFORMATION 
    article.information.active
      a(href='account.html') ACCOUNT INFORMATION
  section.account
    article.infoblock
      .item
        p.title Username
        form(action='')
          input.holder(type='text', placeholder='sarahbarnez')
    article.infoblock
      .item-left
        p.title E-mail
        form(action='')
          input.holder(type='text', placeholder='sarah228@gmail.com')
      .item-left
        article.change
          .change-password
            a(href='#') CHANGE PASSWORD >
