section.navbar
  section.navbar-menu
    div.navbar-menu__item Home
    div.navbar-menu__item: img(src="../../images/vector.svg")
    div.navbar-menu__item My profile
  section.navbar-user
    div.navbar-user__name Faruh Bernandez
    span.navbar-user__avatar: img(src="../../images/shape.svg")