section.sidebar
  aside.sidebar-logo
    div: img.image(src="../../images/Logo.svg")
  aside.sidebar-tools
    a.sidebar-tools__item: img(src="../../images/find.svg")
    a.sidebar-tools__item.active: img(src="../../images/user.svg")
    a.sidebar-tools__item(href="messenger.html"): img(src="../../images/messages.svg")
    a.sidebar-tools__item: img(src="../../images/icon-3.svg")